.table-tr{
    cursor: pointer;
}
.info{
    overflow: auto;
}
.btn{
    cursor: pointer;
}
.show{
    display: block;
}
.info-block{
    overflow: hidden;
}
.info-text{
    word-wrap: break-word;
}
.info-row{
    border-bottom: 1px solid silver;
    padding: 5px 0;
}
.info-title{
    font-weight: bold;
}